body {
    background-image: url("C:\Users\doloa\FactoryFlow\prodution_managemet_app\static\background.png");
    background-size: cover;
    background-position: center;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
